{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100 mobile-homepage">
        <div class="row h-100">
            <div class="col-sm-12 col-md-6 my-auto">
                <h1 class="display-4 title-font text-black">
                    Learning toys for babies up to 1 year
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Explore toys</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}