<div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=skill_category&direction=asc" class="dropdown-item ">By Skills</a>
                <a href="{% url 'products' %}?sort=env_category&direction=asc" class="dropdown-item ">By Environment</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skills-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skills
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skills-link">
                <a href="{% url 'products' %}?skill-category=teething" class="dropdown-item">Teething</a>
                <a href="{% url 'products' %}?skill-category=hearing" class="dropdown-item">Hearing</a>
                <a href="{% url 'products' %}?skill-category=shaking" class="dropdown-item">Shaking</a>
                <a href="{% url 'products' %}?skill-category=touching" class="dropdown-item">Touching</a>
                <a href="{% url 'products' %}?skill-category=walking" class="dropdown-item">Walking</a>
                <a href="{% url 'products' %}?skill-category=teething,hearing,shaking,touching,walking" class="dropdown-item">All Skills</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="env-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Environment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="env-link">
                <a href="{% url 'products' %}?env-category=bed" class="dropdown-item">Bed</a>
                <a href="{% url 'products' %}?env-category=indoor" class="dropdown-item">Indoor</a>
                <a href="{% url 'products' %}?env-category=outdoor" class="dropdown-item">Outdoor</a>
                <a href="{% url 'products' %}?env-category=bath" class="dropdown-item">Bath</a>
                <a href="{% url 'products' %}?env-category=bath,bed,indoor,outdoor" class="dropdown-item">All Environment</a>
            </div>
        </li>
    </ul>
</div>